Django==1.6.1
pyzmq>=14.0.1
tornado>=3.1.1
sockjs-tornado>=1.0.0

# Testing
pytest==2.4.2
pytest-cov==1.6
pytest-pep8==1.0.4
pytest-flakes==0.1
pytest-django==2.3.0
mock==1.0.1

# Docs
Sphinx==1.2
sphinx-rtd-theme==0.1.5
